td.translation {
    width: 50%;
    cursor: pointer;
}

td.translation.translation-active {
    cursor: default;
    white-space: normal;
}

td.translation textarea {
    width: 100%;
}

td.translation input[type="button"] {
    width: 100%;
}

td.project {
    width: 100%;
}

td.iso-code {
    width: 100px;
    text-transform: uppercase;
}

.progress-translation {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    width: 100px;
    vertical-align: middle;
}

span.admin {
    font-weight: bold;
}

p.message {
    padding: 15px;
}

p.comment {
    font-size: 85%;
    font-style: italic;
}

a.navbar-brand {
    padding: 5px 10px;
}

img.breadcrumb-icon {
    height: 16px;
    width: 16px;
}

select#languages {
    height: 30em;
}

img.go-up {
	border: none;
	float: right;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    vertical-align: middle;
}

.table-translations>tbody>tr>td,
.table-translations>tbody>tr>th,
.table-translations>tfoot>tr>td,
.table-translations>tfoot>tr>th,
.table-translations>thead>tr>td,
.table-translations>thead>tr>th {
    vertical-align: top;
    white-space: pre-wrap;
}

.table tr>th small {
    color:#777;
    font-weight: normal;
}
