td.translation {
    width: 50%;
    cursor: pointer;
}

td.translation.translation-active {
    cursor: default;
}

td.translation textarea {
    width: 100%;
}

td.translation input[type="button"] {
    width: 100%;
}

.needs-work, span.past-translator {
    font-style: italic;
}

.progress-translation {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    width: 100px;
    vertical-align: middle;
}

span.admin {
    font-weight: bold;
}
