td.translation {
    width: 50%;
    cursor: pointer;
}

td.translation.translation-active {
    cursor: default;
}

td.translation textarea {
    width: 100%;
}

td.translation input[type="button"] {
    width: 100%;
}

.progress-translation {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    width: 100px;
    vertical-align: middle;
}

span.past-translator {
    font-style: italic;
}

span.admin {
    font-weight: bold;
}

p.message {
    padding: 15px;
}

p.comment {
    font-size: 85%;
    font-style: italic;
}

a.navbar-brand {
    padding: 5px 10px;
}

select#languages {
    height: 30em;
}

img.go-up {
	border: none;
	float: right;
}
