
// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

td#translation {
    width: 50%;
}
td#translation textarea {
    width:100%;
}
td#translation input[type="button"] {
    width:100%;
}
