<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome to Polyglot</title>
    </head>
    <body>
        <h1>Welcome to Polyglot</h1>
        {% block content %}{% endblock %}
    </body>
</html>
